env:
  global:
    - secure: JLix99cbDVr9+s9QOux8FmnyEHGmpNHavKoO7lo1dG4Em8XyeByIXeBNggYX3d/vpdQ+FrqNO+3HrRJpZvXl1OO3uPGFtIQLH6bXLTaggC3z/67maEQSQQS8rcSHImkg1CDKoPWKvZfnB6IqWRYLTBJWILwBLoocure7/+/8III=
before_install:
  - wget -q http://static.rust-lang.org/dist/rust-nightly-x86_64-unknown-linux-gnu.tar.gz
  - tar xf rust-nightly-x86_64-unknown-linux-gnu.tar.gz
  - sudo ./rust-nightly-x86_64-unknown-linux-gnu/install.sh
install:
  - cd ..
  - time wget -q http://www.libsdl.org/release/SDL2-2.0.3.tar.gz
  - time wget -q http://www.libsdl.org/projects/SDL_mixer/release/SDL2_mixer-2.0.0.tar.gz
  - time tar xf SDL2-*.tar.gz
  - time tar xf SDL2_mixer-*.tar.gz
  - cd SDL2-*
  - ./configure && make && sudo make install
  - cd -
  - cd SDL2_mixer-*
  - ./configure && make && sudo make install
  - cd -
  - git clone https://github.com/andelf/rust-sdl2.git
  - (cd rust-sdl2 && make)
  - rustc rust-sdl2/src/sdl2/lib.rs
script:
  - rustc -L. rust-sdl2_mixer/src/sdl2_mixer/lib.rs
  - rustdoc -L. rust-sdl2_mixer/src/sdl2_mixer/lib.rs
after_script:
  - curl http://www.rust-ci.org/artifacts/put?t=$RUSTCI_TOKEN | sh
