#[link(name = "sdl2",
       vers = "0.0.1",
       uuid = "263e35b2-0727-11e3-b3dd-29219a890b3c",
       url = "http://github.com/AngryLawyer/rust-sdl2")];

#[comment = "SDL2 bindings"];
#[license = "MIT"];
#[crate_type = "lib"];

pub use sdl::*;
pub mod rect;
pub mod video;
pub mod render;
pub mod sdl;
